﻿@model CarPartImageClassification.ViewModels.ImageViewModel

@{
    ViewData["Title"] = "Imagem";
}

<div>
    @if (((Model.Image.BoundingBoxLeft != null && Model.Image.BoundingBoxIsCorrect == null) || Model.Image.BoundingBoxIsCorrect == false) && Model.ConfirmationHITs.Where(h => h.Finished == false).Count() == 0) {
        <form asp-action="CreateBoundingBoxConfirmationHIT" asp-controller="HITs" method="post">
            <input type="hidden" name="id" value="@Model.Image.Id" />
            <input type="submit" class="btn btn-primary" value="Criar HIT de Confirmação" />
        </form>
    } else if (Model.Image.BoundingBoxLeft == null && Model.CreationHITs.Where(h => h.Finished == false).Count() == 0) {
        <form asp-action="CreateCreationHIT" asp-controller="HITs" method="post">
            <input type="hidden" name="id" value="@Model.Image.Id" />
            <input type="submit" class="btn btn-primary" value="Criar HIT de Geração de Bounding Box" />
        </form>
    }
</div>
<div>
    <h4>Imagem</h4>
    <div class="row">
    @if (Model.Image.BoundingBoxIsCorrect == true) {
        <img src="@Model.Image.Url" style="width: 40%;" />
        <img src=@("/Images/WithBoundingBox/" + @Model.Image.Id + ".jpg") style="width: 40%;" />
    } else {
        <img src="@Model.Image.Url" style="width: 40%;" />
    }
    </div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Image.BoundingBoxIsCorrect)
        </dt>
        <dd class = "col-sm-10">
        @if (Model.Image.BoundingBoxIsCorrect == true) {
            <text>Sim</text>
        } else if (Model.Image.BoundingBoxIsCorrect == false) {
            <text>Não</text>
        } else {
            <text>À espera de confirmação</text>
        }
        </dd>
    </dl>
</div>
<div class="pt-1">
    <h6 class="pb-1">HITs de Criação de Bounding Box</h6>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.CreationHITs[0].CreationDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CreationHITs[0].Finished)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        @foreach (var item in Model.CreationHITs)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CreationDate)
                </td>
                <td>
                    @if (item.Finished == true) {
                        <text>Sim</text>
                    } else {
                        <text>Não</text>
                    }
                </td>
                <td>
                    <a asp-action="Details" asp-controller="HITs" asp-route-id="@item.MTurkID">Detalhes</a>
                </td>
            </tr>
        }
        </tbody>
    </table>
</div>
<div class="pt-1">
<h6 class="pb-1">HITs de Confirmação de Bounding Box</h6>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.ConfirmationHITs[0].CreationDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ConfirmationHITs[0].Finished)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        @foreach (var item in Model.ConfirmationHITs)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CreationDate)
                </td>
                <td>
                    @if (item.Finished == true) {
                        <text>Sim</text>
                    } else {
                        <text>Não</text>
                    }
                </td>
                <td>
                    <a asp-action="Details" asp-controller="HITs" asp-route-id="@item.MTurkID">Detalhes</a>
                </td>
            </tr>
        }
        </tbody>
    </table>
</div>
<div>
    <a asp-action="Index">Voltar</a>
</div>
