﻿@model CarPartImageClassification.ViewModels.IndexImageViewModel

@{
    ViewData["Title"] = "Imagens";
}

<div class="row">
    @if (Model.AwaitingCreation) {
        <div class="pr-2">
            <a asp-action="GenerateImages" class="btn btn-primary">Gerar Imagens</a>
        </div>     
    }
    @if (Model.HITsInProgress) {
        <div class="pr-2">
            <form asp-action="SaveAllHITsResults" asp-controller="HITs" method="post">
                <input type="submit" class="btn btn-primary" value="Processar resultados aprovados" />
            </form>
        </div>
        <div class="pr-2">
            <form asp-action="AcceptAllHITsAssignments" asp-controller="HITs" method="post" class="pr-2">
                <input type="submit" class="btn btn-primary" value="Aprovar todas as respostas em espera" />
            </form>
        </div>
    }
    @if (Model.AwaitingBoundingBox) {
        <div class="pr-2">
            <form asp-action="CreateBoundingBoxHITs" asp-controller="HITs" method="post" class="pr-2">
                <input type="submit" class="btn btn-primary" value="Criar HITs de criação de Bounding Box para todas as imagens" />
            </form>
        </div>  
    }
    @if (Model.AwaitingConfirmation) {
        <div class="pr-2">
            <form asp-action="CreateConfirmationHITs" asp-controller="HITs" method="post" class="pr-2">
                <input type="submit" class="btn btn-primary" value="Criar HITs para bounding boxes à espera de confirmação" />
            </form>
        </div>      
    }
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                Imagem
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Images[0].Classification)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Images) {
        <tr>
            <td>
                <img src=@item.Url width="200" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Classification)
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
