﻿@model CarPartImageClassification.ViewModels.HITViewModel

@{
    ViewData["Title"] = "HIT";
}

<div>
    <h4>HIT</h4>
    <hr />
    <img src="@Model.Image.Url" class="text-center" />
    <dl class="row">
        <dt class="col-sm-2">
            Número de Respostas
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.HIT.NumberOfAssignmentsCompleted) / @Html.DisplayFor(model => model.HIT.MaxAssignments)
        </dd>
    </dl>
</div>
<div class="row">
    <form asp-action="AcceptAllAssignments">
        <input type="hidden" name="id" value="@Model.HIT.HITId" />
        <div class="form-group">
            <input type="submit" value="Aprovar Todas as Respostas" class="btn btn-primary" />
        </div>
    </form>
    @if (Model.TypeHIT == CarPartImageClassification.Models.Type.Creation) {
        <form asp-action="SaveAssignmentResults">
            <input type="hidden" name="id" value="@Model.HIT.HITId" />
            <div class="form-group">
                <input type="submit" value="Processar Resultados" class="btn btn-primary" />
            </div>
        </form>
    } else {
        <form asp-action="SaveBoundingBoxConfirmationResults">
            <input type="hidden" name="id" value="@Model.HIT.HITId" />
            <div class="form-group">
                <input type="submit" value="Processar Resultados" class="btn btn-primary" />
            </div>
        </form>
    }
</div>
<div>
    <a asp-action="Details" asp-controller="Images" asp-route-id="@Model.Image.Id">Voltar</a>
</div>

